<!-- devo assicurare a typescript che c'è selectedtemeprature -->
<div *ngIf="selectedTemperature">
    <div class="forecast">
        <!-- mostro le proprietà di hroulyforecast in html -->
        <span>Data: {{selectedTemperature.date}}:</span>
        <img class="code-img" [src]=" selectedTemperature.code | codeIcon  " alt="">
        <span>Temperatura: {{selectedTemperature.temperature | setTwoDecimals | addMeasureUnit: '°C'}}</span>
        <span>Umidità: {{selectedTemperature.humidity | setTwoDecimals | addMeasureUnit: '%'}}</span>
        <span>Pioggia: {{selectedTemperature.rain  | setTwoDecimals | addMeasureUnit: 'mm'}}</span>
        <span>Copertura: {{selectedTemperature.cloudCover | setTwoDecimals | addMeasureUnit: '%'}}</span>
        <span>Velocità vento: {{selectedTemperature.windSpeed  | setTwoDecimals | addMeasureUnit: 'km/h'}}</span>
        <span>Direzione vento: {{selectedTemperature.windDirection | setTwoDecimals | addMeasureUnit: '° N'}}</span>
        <!-- <span>Pressione: {{selectedTemperature.pressure| setTwoDecimals | addMeasureUnit: 'h Pa'}}</span> -->
    </div>
</div>
